*

!.eslintrc.cjs
!.gitignore
!README.md
!package.json
!tsconfig.json

!/*/
!/apps/*/
!/lib/*/

!/.editorconfig
!/.gitattributes
!/.prettierignore
!/.node-version
!/.prettierrc.js
!/LICENCE
!/rush.json
